
/* Uncomment these to use Twitter Bootstrap */
@import "bootstrap.css";
@import "bootstrap-responsive.css";

/* Your styles here */

h2 {
    line-height: 1em;
    margin-top: 0;
    margin-bottom: 1em;
}

.container {
    margin: 0 auto;
}

.row {
    margin-top: 1.75em;
    margin-bottom: 1.75em;
}

.header {
    background-color: #dddddd;
    font-size: 3em;
    line-height: 1em;
    padding: .5em;
}

.header a, .header:visited {
    color: #333333;
    text-decoration: none;
}

.pitch, .thing {
    padding: 1em;
    height: 10em;
    background-color: #dddddd;
}

.footer {
    background-color: #dddddd;
}

.project-pic, .profile-pic {
    background-color: #f0f0f0;
    height: 100px;
    width: 100px;
    text-align: center;
    line-height: 40px;
    color: #666666;
    float: right;
}

.project-pic {
    height: 150px;
    width: 150px;
    float: left;
    margin-right: 1em;
}

ul.projects-list {
    list-style: none;
    margin: 0;
}

ul.projects-list li {
    margin-bottom: 3em;
}

#profile .actions {
    
}